/* BEGIN MEYER RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END MEYER RESET */

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* BEGIN HEADER STYLES */

.headerBar {
  display: flex;
  align-items: center;
  height: 15vh;
  border-bottom: 1px solid black;
}

.logo {
  height: 6rem;
  padding: 10px;
}

.headerText {
  font-size: 3rem;
}

/* END HEADER STYLES */

.content {
  display: flex;
  width: 100vw;
}

/* BEGIN SIDEBAR STYLES */

.sideBar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 85vh;
  border-right: 1px solid black;
}

.dates {
  padding-top: 10%;
  height: 30%;
}

.allTasks, .today, .thisWeek, .projects {
  font-weight: bold;
  padding-left: 10%;
  padding-top: 8%;
  padding-bottom: 8%;
}

.projects {
  height: 40%;
}

.project {
  font-weight: normal;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.addTask {
  margin-top: 50%;
  margin-left: 25%;
  margin-bottom: 10%;
  width: 50%;
}

/* END SIDEBAR STYLES */

/* START MAIN CONTENT STYLES */

.toDos {
  display: flex;
  flex-direction: column;
  width: 75vw;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
}

.title {
  font-size: 2rem;
  text-align: center;
  padding: 5%;
}

.task {
  display: grid;
  grid-template-columns: 5% 10% 75% 5% 5%;
  margin-bottom: 10px;
  border: 4px solid black;

}

.radio, .dueDate, .editIcon, .deleteIcon {
  place-self: center;
}

.taskName, .taskDescription {
  align-self: center;
}

.editIcon, .deleteIcon {
  height: 3rem;
}

.taskDescription {
  grid-column: 3/4;
}

.complete {
	opacity: .5;
	text-decoration: line-through;
	border-color: gray;
}

.formContainer {
	border: 4px solid black;
  padding: 2.5vh;
  height: 25vh;
  display: flex;
	flex-direction: column;
}

.inputGroup {
  display: grid;
	grid-template-columns: 1fr 4fr;
	place-items: start;
	height: 5vh;
}

.formContainer input, textarea {
	width: 100%;
}

.submitNewTask {
	height: 2.5vh;
  width: 15%;
	margin-top: 1.25vh;
	align-self: flex-end;
	border: 1px solid black;
	border-radius: 15px;
	background-color: cyan;
}

/* END MAIN CONTENT STYLES */
