/* BEGIN MEYER RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END MEYER RESET */

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* BEGIN HEADER STYLES */

.headerBar {
  display: flex;
  align-items: center;
  height: 15vh;
  border-bottom: 1px solid black;
}

.logo {
  height: 6rem;
  padding: 10px;
}

.headerText {
  font-size: 3rem;
}

/* END HEADER STYLES */

/* BEGIN SIDEBAR STYLES */

.sideBar {
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: 85vh;
  border-right: 1px solid black;
}

.dates {
  padding-top: 10%;
  height: 30%;
}

.home, .today, .thisWeek, .projects {
  font-weight: bold;
  padding-left: 10%;
  padding-top: 8%;
  padding-bottom: 8%;
}

.projects {
  height: 40%;
}

.project {
  font-weight: normal;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 5%;
}

.addTask {
  margin-top: 50%;
  margin-left: 25%;
  margin-bottom: 10%;
  width: 50%;
}

/* END SIDEBAR STYLES */
