/* BEGIN MEYER RESET */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* END MEYER RESET */

/* define custom variables */
:root {
  --main-content-margin: 4vw;
  --sideBarWidth: 250px;
}

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

/* BEGIN HEADER STYLES */

.headerBar {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 2px solid black;
  padding: 12px;
}

.headerText {
  font-size: 2.5rem;
}

/* END HEADER STYLES */

.content {
  display: flex;
}

/* BEGIN SIDEBAR STYLES */

.sideBar {
  position: absolute;
  z-index: 2;
  display: none;
  flex-direction: column;
  min-width: var(--sideBarWidth);
  height: calc(100vh - 182px);
  border-right: 2px solid black;
  background-color: white;
}

.toggledOn {
  display: flex;
}

.allTasks,
.urgent,
.incomplete,
.dateRanges,
.categories {
  font-weight: bold;
  padding-left: 10%;
  padding-top: 8%;
  padding-bottom: 8%;
}

.allTasks {
  margin-top: 6%;
}

.allTasks:hover,
.urgent:hover,
.incomplete:hover,
.dateRange:hover,
.category:hover {
  cursor: pointer;
  background-color: rgba(100, 100, 100, 0.8);
  color: white;
}

.dateRange,
.category {
  font-weight: normal;
  padding-left: 10%;
  padding-top: 10%;
  padding-bottom: 5%;
}

/* END SIDEBAR STYLES */

/* START MAIN CONTENT STYLES */

.title {
  display: none;
}

.toDos {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.muted {
  opacity: 0.3;
}

.task {
  display: grid;
  grid-template-columns: 1fr 1fr 15fr 1fr 1fr;
}

.task,
.formContainer {
  margin-top: 10px;
  margin-left: var(--main-content-margin);
  margin-right: var(--main-content-margin);
  width: calc(100% - calc(var(--main-content-margin) * 2));
  border: 4px solid black;
}

.task > * {
  padding-right: 5px;
  padding-left: 5px;
}

.dueDate,
.taskName,
.taskDescription,
.editIcon,
.deleteIcon {
  place-self: center;
}

.dueDate,
.taskName,
.taskDescription {
  justify-self: left;
  margin-top: 4px;
  margin-bottom: 4px;
}

.taskDescription {
  font-size: 0.8rem;
  grid-column: 3/4;
}

.highPriority {
  border-color: red;
}

.complete {
  opacity: 0.5;
  text-decoration: line-through;
  border-color: gray;
}

.editIcon,
.deleteIcon {
  cursor: pointer;
  height: 2rem;
}

.editIcon:hover,
.deleteIcon:hover {
  height: 2.5rem;
}

.formContainer {
  border: 4px solid black;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.inputGroup {
  display: grid;
  grid-template-columns: 100px calc(100% - 110px);
  column-gap: 10px;
  padding-bottom: 0.5rem;
  place-items: start;
}

.formContainer input,
textarea,
select {
  width: 100%;
}

.submitNewTask {
  width: clamp(50px, 15%, 300px);
  align-self: flex-end;
}

button {
  border: 1px solid black;
  background-color: cyan;
  border-radius: 15px;
}

button:hover {
  cursor: pointer;
}

/* END MAIN CONTENT STYLES */

/* BEGIN FOOTER STYLES */

.footer {
  display: flex;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 3;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.95);
  color: white;
}

.footerButton {
  width: 52px;
  cursor: pointer;
}

.footerButton:hover {
  width: 64px;
}

.newTaskContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.newTaskText {
  color: #ff6f00;
  font-weight: bold;
}

.copyright {
  display: none;
}

.footerButton,
.copyright {
  padding: 8px;
}

.copyrightText {
  font-weight: bold;
}

.footerImage {
  height: 1rem;
}

/* END FOOTER STYLES */

@media (min-width: 600px) {
  .headerBar {
    gap: 120px;
    /* this value should line header text up with the edge of the sidebar on desktop layouts */
  }
  .headerText {
    font-size: 3rem;
  }
  .title {
    display: block;
    font-size: 2rem;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 1.5rem;
  }
  .sideBar {
    display: flex;
    position: static;
  }
  .toDos {
    width: calc(100vw - var(--sideBarWidth));
  }

  .task,
  .formContainer {
    width: clamp(300px, 70%, 900px);
  }

  .footerButton,
  .copyright {
    margin-left: 16px;
    margin-right: 16px;
  }

  .copyright {
    display: flex;
  }
  .toggleSettings {
    display: none;
  }
}
